@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f1f0f0;
  font-family: "Jost", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: #fc7a1e;
}

.main {
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

.link {
  text-decoration: underline;
  color: #fc7a1e;
}
