/* .form {
  width: 40%;
  margin-top: 70px;
} */

.submitBtn {
  display: inline;
  background-color: #fc7a1e;
  color: white;
}

.barImage {
  opacity: 0;
  transition: all 1s linear;
}

.appearImage {
  opacity: 1;
  transition: all 1s linear;
}

.imageholder {
  width: 500px;
  height: 500px;
  display: block;
  position: relative;
}
