.navbar {
  background-color: #fc7a1e;
  padding: 0.5em 6em;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  text-transform: uppercase;
}

.subset {
  color: white;
}
