.navbar {
  background-color: #fc7a1e;
  padding: 0em 5em;
}

.brand {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  text-transform: uppercase;
}

.subset {
  color: white;
}
